{% extends 'base.html' %}
{% load static %}

{% block title %}Проданные товары{% endblock %}

{% block content %}
<section class="category first" style="padding-top: 218px;">
		  <div class="container">
		    <div class="row">
			  {% if sold_products %}
		      <div class="col-md-8 text-left">
		        <div class="row">
		          <div class="col-md-12">
		            <h1 class="page-title">Проданные товары</h1>
		          </div>
		        </div>
		        <div class="line"></div>
		        <div class="row">
                  {% for item in sold_products %}
		          <article class="col-md-12 article-list">
		            <div class="inner">
		              <figure>
			              <a href="single.html">
			                <img style="height: -webkit-fill-available;" src="{% static 'images/sold.png' %}">
		                </a>
		              </figure>
		              <div class="details">

						<div class="detail">
		                  <div class="category">
		                   <a href="">Категория:</a>
		                  </div>
		                  		<div class="time">{{ item.product.category }}</div>
		                </div>
					<h1><a href="">{{ item.product.name }}</a></h1>
						  <p>Приобретено в: {{ item.shop.name }}</p>
						  <p>Отгружено с: {{ item.storage.name }}</p>
		              </div>
		            </div>
                      <div class="line"></div>
		          </article>
                  {% endfor %}



		          <div class="col-md-12 text-center">
		            <ul class="pagination">
		              <li class="prev"><a href="#"><i class="ion-ios-arrow-left"></i></a></li>
		              <li class="active"><a href="#">1</a></li>
		              <li><a href="#">2</a></li>
		              <li><a href="#">3</a></li>
		              <li><a href="#">...</a></li>
		              <li><a href="#">97</a></li>
		              <li class="next"><a href="#"><i class="ion-ios-arrow-right"></i></a></li>
		            </ul>
		            <div class="pagination-help-text">
		            	Showing 8 results of 776 — Page 1
		            </div>
		          </div>
		        </div>
		      </div>
			  {% else %}
				<div class="row">
		          <div class="col-md-12">
		            <h1 class="page-title">Нет проданных товаров!</h1>
		          </div>
		        </div>
		        <div class="line"></div>
			  {% endif %}
		    </div>
		  </div>
		</section>

{% endblock %}